
/**
 * @file
 * Styles for aCoffee theme, for Drupal 6.x
 *
 * Coffee Drupal Theme by Template-Stock.com
 * http://template-stock.com
*/

html, body {
  margin: 0;
  padding: 0;
}
body {
  background-color: #331400;
  font-family: "Lucida", "Lucida Grande", "Trebuchet MS", Tahoma, Verdana, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1.4em;
}
input, textarea, select {
  margin: 2px;
}
body.cke_show_borders, html.cke_show_borders {
  background-color: #FFF;
}
p {
  margin: 0;
  padding: 0;
}
h1 {
  color: #AA4800;
  font-family: Georgia, serif;
  font-size: 2em;
  font-weight: normal;
  line-height: 1em;
  margin: 0 0 14px 70px;
}
h2 {
  font-family: Georgia, serif;
  font-size: 1.8em;
  font-weight: normal;
  line-height: 1em;
}
h2 a {
  color: #658600 !important;
}
h3 {
  color: #658600;
  margin: 8px 0;
}
a,
a:visited {
  color: #AA4800;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.item-list ul li {
  list-style-type: circle;
}
#header {
  left: -20px;
  position: absolute;
  top: 0;
}
#logo-title {
  position: relative;
}
#logo {
  background: url("img/logo-back.png") no-repeat scroll 0 0 transparent;
  display: block;
  height: 208px;
  padding: 42px 20px 0;
  text-align: center;
  width: 256px;
}
#mission {
  border-bottom: 1px dotted #AA4800;
  font-size: 1.1em;
  font-style: italic;
  margin: 0 10px 8px 70px;
  padding: 0 0 6px 0;
}
#name-and-slogan a {
  color: #FFF;
  font-family: Arial, Helvetica, Garuda, sans-serif;
  font-size: 1.2em;
}
#site-slogan {
  color: #FFF;
  font-style: italic;
}
#navigation {
  margin: 252px 0 0 0;
  padding: 10px 0 20px 0;
}
#page-wraper {
  background: transparent url('img/topbg.png') repeat-x top left;
}
#page {
  margin: 0 auto;
  padding: 0 20px;
  width: 986px;
}
.two-sidebars #page {
  margin: 0 auto;
  padding: 0 20px;
  width: 1266px;
}
#container #main {
  background: transparent url('img/toper.png') no-repeat 0 0;
  float: left;
  margin: 20px 20px 0 0;
  padding: 0;
  width: 686px;
}
#container #main-squeeze {
  background: transparent url('img/bgnode.png') repeat-y 0 0;
  margin: 40px 0 0 0;
  padding: 0 20px 40px 20px;
}
#footer-bg {
  background: transparent url('img/footer.png') no-repeat 0 0;
  height: 40px;
  margin: 0 0 0 0;
  padding: 0;
  width: 686px;
}
#container .sidebar {
  float: left;
  margin: 0 0 40px;
  position: relative;
  width: 260px;
  z-index: 2;
}
#basement {
  background-color: #733100;
  border-top: #aa4800 solid 6px;
  margin: -50px 0 0;
  min-height: 50px;
  padding: 20px 0 0 0;
}
ul.primary-links li {
  display: block;
  font-family: Arial, Helvetica, Garuda, sans-serif;
  font-size: 0.85em;
  font-weight: bold;
  list-style-type: none;
  margin: 1px;
  padding: 0;
  text-transform: uppercase;
}
ul.primary-links li a {
  color: #FFF;
  display: block;
  padding: 5px 10px;
  width: 240px;
}
ul.primary-links li a:hover {
  text-decoration: none;
}
ul.primary-links li.active-trail,
ul.primary-links li:hover {
  background-color: #AA4800;
  border-right: 4px solid #733100;
}
ul.primary-links li.active-trail a,
ul.primary-links li:hover a,
ul.secondary-links li.active-trail a,
ul.secondary-links li:hover a {
  color: #FFF;
}
#secondary {
  background-color: #AA4800;
  border-top: 4px solid #733100;
  margin: 10px 0;
}
ul.secondary-links li {
  display: block;
  font-family: Arial, Helvetica, Garuda, sans-serif;
  font-size: 0.85em;
  font-weight: bold;
  list-style-type: none;
  margin: 1px 4px 1px 0;
  padding: 0;
}
ul.secondary-links li a {
  color: #FFF;
  display: block;
  padding: 5px 10px;
  width: 240px;
}
ul.secondary-links li a:hover {
  text-decoration: none;
}
ul.secondary-links li.active-trail,
ul.secondary-links li:hover {
  background-color: #FFF;
  color: #AA4800;
}
ul.secondary-links li.active-trail a,
ul.secondary-links li:hover a{
  color: #AA4800;
}
#container #sidebar-left {
  margin: 20px 20px 0 0;
}
.sidebar .block {
  background: transparent url('img/box_foot.png') no-repeat bottom center;
  margin: 10px 0 18px 0;
  padding: 0 0 16px 0;
}
.sidebar .block h2 {
  border-bottom: 3px solid #AA4800;
  color: #FFF;
  display: block;
  font-family: Arial, Helvetica, Garuda, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  list-style-type: none;
  margin: 0;
  padding: 4px 15px;
  text-align: right;
  text-transform: uppercase;
}
.sidebar .block .content,
.block h2 {
  background-color: #733100;
}
.sidebar .block-user .content,
.block-user h2 {
  background-color: #658600;
}
.sidebar .block-user h2 {
  border-bottom: 3px solid #7CA500;
}
.sidebar .block .content {
  padding: 15px;
}
.sidebar .block-user .box-t {
  background: transparent url('img/box_green_top.png') no-repeat 0 0;
}
.sidebar .block-user {
  background: transparent url('img/box_green_foot.png') no-repeat bottom center;
}
.sidebar .block a {
  color: #AFE800;
}
.sidebar .block li a {
  color: #FFF;
}
#breadcrumb {
  color: #ADB498;
  font-size: 0.8em;
}
#breadcrumb a {
  color: #ADB498;
}
.tgh-title {
  border-bottom: 1px dotted #AAA;
  font-style: italic;
  padding: 4px;
}
.box-t {
  background: transparent url('img/box_top.png') no-repeat 0 0;
  height: 16px;
  margin: 0;
  padding: 0;
  width: 260px;
}
ul.menu li {
  margin: 0;
}
.sidebar .block ul {
  padding: 0 0 0.25em 14px;
}
.sidebar .block ul.menu li a {
  display: block;
  padding: 2px 4px;
  width: 90%;
}
.sidebar .block ul.menu li a:hover {
  text-decoration: none;
}
.sidebar .block ul.menu li {
  padding: 0;
}
.sidebar .block ul.menu a:hover,
.sidebar .block ul.menu li a.active {
  background-color: #FFF;
  color: #658600;
}
.sidebar .block {
  color: #FFF;
  font-size: 0.85em;
}
.sidebar .block ul li {
  list-style-image: none;
  list-style-type: circle;
}
#footer {
  color: #CCC;
  font-size: 0.85em;
  padding: 20px 0;
}
.item-list .pager {
  font-size: 1.143em;
  padding: 10px 4px;
}
.item-list .pager a {
  color: #658600;
}
.item-list ul li {
  margin: 0 0 0 1em;
}
input.form-submit {
  background: url("img/btn.png") repeat-x scroll 0 0 transparent;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 0.85em;
  font-weight: bold;
  outline: 1px solid #733100;
  padding: 1px 1em;
  text-transform: uppercase;
}
.container-inline #edit-search-block-form-1-wrapper label {
  display: none;
}
.sidebar .more-link a {
  color: #FFF;
  font-weight: bold;
}
.node {
  margin: 0 0 30px 0;
}
.node .links a {
  color: #658600;
}
.node .links li {
  border-left: 4px solid #AFE800;
}
.node .content {
  margin: 10px 0;
}
.node-create {
  border-left: 4px solid #AFE800;
  float: left;
  font-family: Arial, Helvetica, Garuda, sans-serif;
  padding: 0 0 0 4px;
  width: 62px;
}
.create-d {
  color: #733100;
  font-size: 28px;
}
.create-m {
  color: #79A000;
  font-size: 18px;
  line-height: 19px;
  text-transform: lowercase;
}
.create-y {
  color: #AFE800;
  font-size: 10px;
  line-height: 11px;
}
.node-main {
  margin: 0 0 0 70px;
}
.terms {
  border-left: 4px solid #AA4800;
  display: block;
  font-size: 0.85em;
  margin: 12px 0;
}
.meta {
  border-left: 4px solid #AA4800;
}
.meta span {
  margin: 0 2px 0 0.5em;
}
.terms .links li a {
  color: #733100;
  line-height: 1em;
}
.terms .links li {
  border-left: none;
}
#user-login-form {
  padding: 0 0 0 15px;
  text-align: left;
}
#user-login-form .form-item {
  margin: 2px 0 6px 0;
}
#user-login-form .form-text {
  width: 190px;
}
div.help,
div.messages,
div.warning,
div.error {
  margin: 12px 0;
  padding: 18px;
}
.help {
  background-color: transparent;
  border-left: 4px solid #AFE800;
}
.messages {
  background-color: #F0FFC0;
  border-left: 4px solid #7CA500;
}
div.warning, tr.warning {
  background: none repeat scroll 0 0 #FFEBC0;
  color: #A56100;
}
div.warning {
  border: none;
  border-left: 4px solid #f58a00;
}
div.error, tr.error {
  background: none repeat scroll 0 0 #FFCFCF;
  color: #A50000;
}
div.error {
  border: none;
  border-left: 4px solid #EB0101;
}
#comments, .box {
  margin: 0 0 0 70px;
}
.box {
  border-top: 1px dotted #AA4800;
}
.comment {
  border-top: 1px dotted #AA4800;
  margin: 0 0 20px 0;
}
.comment .submitted {
  margin: 8px 0 0 0;
}
.comment .content {
  margin: 10px 0;
}
.comment .links {
  border-left: 4px solid #AA4800;
}
.new {
  color: #FF6C00;
}
.node img {
  border: 2px solid #7CA500;
  float: right;
  margin: 0 0 10px 10px;
  padding: 4px;
}
.node p {
  margin: 0 0 14px 0;
}
.node ul {
  color: #7CA500;
  list-style-type: circle;
}
table {
  margin: 10px 0;
}
thead th {
  border-bottom: 3px solid #AA4800;
  color: #AA4800;
  padding-right: 1em;
  text-align: left;
}
td {
  padding: 5px 2px;
}
tr {
  border-bottom: 1px solid #7CA500;
}
tr.even, tr.odd {
  border-bottom: 1px solid #7CA500;
  padding: 0;
}
tr.odd {
  background-color: #FFF;
}
tr.even {
  background-color: #F0FFC0;
}
#footer-wrapper {
  clear: both;
  margin: 0 auto;
  padding: 0 20px;
  width: 986px;
}
.poll {
  margin: 0 10px 0 0;
}
.poll .percent {
  color: #331400;
  font-size: 12px;
}
.poll .bar {
  background-color: #FFF;
  border-bottom: 1px dotted #AFE800;
  height: 6px;
  margin: 1px 0;
  padding: 1px;
}
.poll .bar .foreground {
  background-color: #AFE800;
  float: left;
  height: 6px;
  padding: 0px;
}
.poll .total {
  color: #AA4800;
  margin: 4px 0;
  text-align: right;
}
.block .poll .title {
  font-size: 14px;
  margin: 2px 0 6px 0;
}
.block .poll .percent {
  color: #FFF;
}
.block .poll .total {
  color: #FFF;
  font-size: 14px;
}
.block .poll .bar {
  border: none;
}
#forum {
  margin: 0 10px 14px 20px;
}
#forum ul.links {
  margin: 0 0 0 44px;
}
#forum table {
  width: 100%;
}
#forum tr td.forum {
  background: transparent url("img/forum-default.png") no-repeat 6px center;
  padding-left: 45px;
}
#forum tr.new-topics td.forum {
  background-image: url("img/forum-new.png");
}
#forum div.indent {
  margin-left: 0px;
}
#forum .description {
  font-size: 0.85em;
  margin: 0;
}
#forum .container {
  background-color: #F0FFC0;
  padding: 8px 0 2px 44px;
  text-transform: uppercase;
}
#forum tr.even, #forum tr.odd {
  background-color: #FFF;
}
#forum td.posts, #forum td.topics {
  text-align: left;
}
#rss-twit {
  text-align: center;
}
#rss-twit a {
  margin: 0 4px;
}
.block-region {
  background-color: #FF803E;
  border: 2px dashed #FFF;
  color: #FFF;
  margin: 8px 0;
  padding: 6px;
  text-align: center;
  text-transform: uppercase;
}
#content-boxes {
  margin: 0 auto;
  overflow: hidden;
  padding: 20px 0 0 0;
  width: 646px;
}
#content-boxes .area-l,
#content-boxes .area-r {
  float: left;
  padding: 0 10px;
  width: 303px;
}
#footer-boxes {
  margin: 0 auto;
  overflow: hidden;
  padding: 10px 0;
  width: 986px;
}
#footer-boxes .area {
  float: left;
  padding: 0 6px;
  width: 316px;
}
.block-clear h2 {
  background-color: transparent;
}
#footer a {
  color: #FFFFFF;
}

.in-maintenance #content-content {
  margin: 40px 0 30px 70px;
}